In [1]:
import os
import pandas as pd

In [15]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
os.makedirs(CACHE_DIR, exist_ok=True)

In [3]:
for filename in os.listdir(DATA_DIR):
    print(filename)

2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv
2021.csv
2022.csv

In [5]:
df = pd.read_csv(os.path.join(DATA_DIR, '2012.csv'))
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,The Avengers,"$1,518,812,988","$623,357,910",41%,"$895,455,078",59%
1,2,Skyfall,"$1,108,561,013","$304,360,277",27.5%,"$804,200,736",72.5%
2,3,The Dark Knight Rises,"$1,081,041,287","$448,139,099",41.5%,"$632,902,188",58.5%
3,4,The Hobbit: An Unexpected Journey,"$1,017,003,568","$303,003,568",29.8%,"$714,000,000",70.2%
4,5,Ice Age 4: Continental Drift,"$877,244,782","$161,321,843",18.4%,"$715,922,939",81.6%

In [7]:
df['Year'] = 2012

In [8]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,The Avengers,"$1,518,812,988","$623,357,910",41%,"$895,455,078",59%,2012
1,2,Skyfall,"$1,108,561,013","$304,360,277",27.5%,"$804,200,736",72.5%,2012
2,3,The Dark Knight Rises,"$1,081,041,287","$448,139,099",41.5%,"$632,902,188",58.5%,2012
3,4,The Hobbit: An Unexpected Journey,"$1,017,003,568","$303,003,568",29.8%,"$714,000,000",70.2%,2012
4,5,Ice Age 4: Continental Drift,"$877,244,782","$161,321,843",18.4%,"$715,922,939",81.6%,2012

In [11]:

my_dataframes = []

csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith(".csv")]
for filename in os.listdir(DATA_DIR):
    print(filename)
    year = filename.replace(".csv", "")
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    this_df['year'] = year
    print(this_df.head(n=1))
    my_dataframes.append(this_df)

2012.csv
   Rank Release Group       Worldwide      Domestic    %       Foreign  %.1  \
0     1  The Avengers  $1,518,812,988  $623,357,910  41%  $895,455,078  59%

   filename  year
0  2012.csv  2012
2013.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1        Frozen  $1,280,802,282  $400,738,009  31.3%  $880,064,273

     %.1  filename  year
0  68.7%  2013.csv  2013
2014.csv
   Rank                    Release Group       Worldwide      Domestic      %  \
0     1  Transformers: Age of Extinction  $1,104,054,072  $245,439,076  22.2%

        Foreign    %.1  filename  year
0  $858,614,996  77.8%  2014.csv  2014
2015.csv
   Rank                               Release Group       Worldwide  \
0     1  Star Wars: Episode VII - The Force Awakens  $2,068,223,624

       Domestic      %         Foreign    %.1  filename  year
0  $936,662,225  45.3%  $1,131,561,399  54.7%  2015.csv  2015
2016.csv
   Rank               Release Group       Worldwide      Domestic      %  \
0     1  Captain America: Civil War  $1,153,296,293  $408,084,349  35.4%

        Foreign    %.1  filename  year
0  $745,211,944  64.6%  2016.csv  2016
2017.csv
   Rank                            Release Group       Worldwide  \
0     1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889

       Domestic      %       Foreign    %.1  filename  year
0  $620,181,382  46.5%  $712,358,507  53.5%  2017.csv  2017
2018.csv
   Rank           Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Infinity War  $2,048,359,754  $678,815,482  33.1%

          Foreign    %.1  filename  year
0  $1,369,544,272  66.9%  2018.csv  2018
2019.csv
   Rank      Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Endgame  $2,797,501,328  $858,373,000  30.7%

          Foreign    %.1  filename  year
0  $1,939,128,328  69.3%  2019.csv  2019
2020.csv
   Rank      Release Group     Worldwide  Domestic      %       Foreign  \
0     1  The Eight Hundred  $461,421,559  $372,755  <0.1%  $461,048,804

     %.1  filename  year
0  99.9%  2020.csv  2020
2021.csv
   Rank            Release Group       Worldwide      Domestic      %  \
0     1  Spider-Man: No Way Home  $1,886,073,139  $799,073,139  42.4%

          Foreign    %.1  filename  year
0  $1,087,000,000  57.6%  2021.csv  2021
2022.csv
   Rank      Release Group     Worldwide  Domestic      %       Foreign   %.1  \
0     1  Water Gate Bridge  $626,203,271  $117,294  <0.1%  $626,085,977  100%

   filename  year
0  2022.csv  2022

In [12]:
my_entire_dataframe = pd.concat(my_dataframes)

In [13]:
my_entire_dataframe.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,The Avengers,"$1,518,812,988","$623,357,910",41%,"$895,455,078",59%,2012.csv,2012
1,2,Skyfall,"$1,108,561,013","$304,360,277",27.5%,"$804,200,736",72.5%,2012.csv,2012
2,3,The Dark Knight Rises,"$1,081,041,287","$448,139,099",41.5%,"$632,902,188",58.5%,2012.csv,2012
3,4,The Hobbit: An Unexpected Journey,"$1,017,003,568","$303,003,568",29.8%,"$714,000,000",70.2%,2012.csv,2012
4,5,Ice Age 4: Continental Drift,"$877,244,782","$161,321,843",18.4%,"$715,922,939",81.6%,2012.csv,2012

In [18]:
dataset = os.path.join(CACHE_DIR, 'movies-box-office-dataset.csv')
my_entire_dataframe.to_csv(dataset, index = False)